table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    height: 50%;
    border-radius: 15px;
    background-repeat: no-repeat;
    margin: 90px;
  }

  td, th {
   
    border: 1px solid #dddddd;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    border: 4px solid black;

  }

  th:hover {background-color: aqua;}


  a{
    text-decoration: none;
    border: solid 1px;
    padding: 7px 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.171);
    font-size: 15px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    top: 0px;
    transition: 0.5s;

}
a:hover{
    background-color: wheat;
    color: black;
    box-shadow: 2px 4px 10px 5px black;
  }
  body{
    background-color: rgba(137, 43, 226, 0.562);
  }



  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
  background: #00e632;
  height: 80px;
  width: 100%;
}
label.logo{
  border: solid 2px;
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;

}
 ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}






#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid rgba(155, 33, 33, 0.527);
}
